.big-card {
    background-image: url("../assets/Discotech.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 60px;
    margin: 15px auto;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.description {
    align-content: center;
    color: whitesmoke;
    width: 30%;
    line-height: 1.8;
}

.header {
    color: whitesmoke;
    text-decoration: underline;
}

.discotech {
    z-index: 1;
}
