.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.space-grotesk-small {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

.main-heading {
    color: #3004af;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    border-bottom: 3px solid #3004af;
    font-size: 3rem;
}

.sub-heading {
    color: #80389e;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
}

.boxxed-text {
    background-color: #ffe0e3;
    height: fit-content;
    box-shadow: 2px 1px 1px rgba(204, 204, 204, 20);
}

.banner-heading {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    border-bottom: white solid 3px;
}

.footer-heading {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    font-size: 3.5rem;
}
.footer-sub-heading {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-bottom: white solid 3px;
}

.white {
    color: white;
}
.logo {
    width: 2rem;
    height: 2rem;
}

.part-box {
    transition: 0.5s;
}

.part-box:hover {
    background-color: rgba(242, 242, 242, 70);
    box-shadow: 5px 3px 3px rgb(217, 217, 217);
}
